<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
    <center>
        <h1> this is going to other pages  no:1 </h1>
        <a href="{% url 'second:two' %}"> go on two </a>
        <br>
        <a href="{% url 'normal' %}"> go on normal pages </a>
    </center>
    </body>
</html>